
<p-toolbar>
    <div class="p-toolbar-group-left">
        <p-button label="Comics" icon="pi pi-info-circle" routerLink="/comics"></p-button>
        <p-button label="Characters" icon="pi pi-info-circle" routerLink="/characters"></p-button>
        <p-button label="Upload" icon="pi pi-upload" styleClass="p-button-success"></p-button>
            
        <i class="pi pi-bars"></i>
        
    </div>
    
    <div class="p-toolbar-group-right">
        <p-button icon="pi pi-search"></p-button>
        <p-button icon="pi pi-calendar" styleClass="p-button-success"></p-button>
        <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
    </div>
</p-toolbar>

<div class="container p4">
    <router-outlet></router-outlet>
</div>
