
<div class="row">
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <p-button label="Comics" icon="pi pi-info-circle" routerLink="/comics" styleClass="p-button-success"></p-button>
            <p-button label="Characters" icon="pi pi-info-circle" routerLink="/characters" styleClass="p-button-success"></p-button>
            <p-button label="Creators" icon="pi pi-info-circle" styleClass="p-button-success" styleClass="p-button-success"></p-button>
            <p-button label="Creators" icon="pi pi-info-circle" styleClass="p-button-success" styleClass="p-button-success"></p-button> 
        </div>
        
        <div class="p-toolbar-group-right">
            <p-button icon="pi pi-arrow-left"></p-button>
            <p-button icon="pi pi-arrow-right"></p-button>
            <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
        </div>
    </p-toolbar>
</div>
<div class="">
    <router-outlet></router-outlet>
</div>

    

